---
---
<form class="p-4 border-2 border-red-500 bg-yellow-50 space-y-4">
  <label class="block">
    Name:
    <input type="text" placeholder="Enter your name" class="border-2 border-blue-500 w-full p-1" />
  </label>

  <label class="block">
    Email:
    <input type="email" placeholder="Enter your email" class="border-2 border-green-500 w-full p-1" />
  </label>

  <label class="block">
    Choose your favorite color:
    <select class="border-2 border-purple-500 w-full">
      <option>Red</option>
      <option>Blue</option>
      <option>Green</option>
      <option>Yellow</option>
    </select>
  </label>

  <button type="submit" class="bg-pink-500 text-white font-bold px-4 py-2 hover:bg-pink-700">
    Submit!
  </button>
</form>